[color]
	ui = false
	diff = true
	interactive = true
	status = true
	branch = true
[user]
	name = nakaumin
[core]
  whitespace = cr-at-eol
	quotepath = false
	editor = vim
	pager = less -i
[alias]
  ls = ls-files -v
  st = status
  cm = commit
  br = branch
  co = checkout --recurse-submodules
  pull = pull --recurse-submodules
  df = diff --color
  dw = diff --color-words
  dc = diff --cached
  l = log --oneline --stat
  lg-nc = log --graph --pretty=format:'%h -%d %s %(%ci) <%an>' --no-color --abbrev-commit 
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ci) %C(bold blue)<%an>%Creset' --abbrev-commit
  lga = log --all --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ci) %C(bold blue)<%an>%Creset' --abbrev-commit
  lgs = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ci) %C(bold blue)<%an>%Creset' --abbrev-commit --stat
  fix = commit --amend -C HEAD
[gui]
	encoding = utf-8
[push]
	default = simple
[pull]
	rebase = true
[merge]
  ff = false

[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[fetch]
	prune = true
