[color]
  ui = false
  diff = true
  interactive = true
  status = true
  branch = true
[user]
  name = nakaumin
  email = nakaumin@gmail.com
[core]
  whitespace = cr-at-eol
  quotepath = false
  editor = vim
  pager = less -i
[alias]
  ls = ls-files -v
  st = status
  cm = commit --allow-empty
  br = branch
  #co = checkout --recurse-submodules
  co = checkout
  pull = pull --recurse-submodules
  df = diff --color
  dw = diff --color-words
  dc = diff --cached
  l = log --oneline --stat
#  作成日付ベース
  lg-nc = log --graph --pretty=format:'%h -%d %s %(%ai) <%an>' --no-color --abbrev-commit 
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ai) %C(bold blue)<%an>%Creset' --abbrev-commit
  lga = log --all --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ai) %C(bold blue)<%an>%Creset' --abbrev-commit
  lgs = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ai) %C(bold blue)<%an>%Creset' --abbrev-commit --stat
#  コミット日付ベース
#  lg-nc = log --graph --pretty=format:'%h -%d %s %(%ci) <%an>' --no-color --abbrev-commit 
#  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ci) %C(bold blue)<%an>%Creset' --abbrev-commit
#  lga = log --all --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ci) %C(bold blue)<%an>%Creset' --abbrev-commit
#  lgs = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ci) %C(bold blue)<%an>%Creset' --abbrev-commit --stat
  fix = commit --amend -C HEAD
  pr = pull-request
  see = browse
  ref = reflog --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ci) %C(bold blue)<%an>%Creset' --abbrev-commit
[gui]
  encoding = utf-8
[push]
  default = simple
[pull]
  rebase = true
[merge]
  ff = false

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  required = true
  process = git-lfs filter-process
[fetch]
  prune = true
[submodule]
  recurse = true
